<!DOCTYPE html>
<html>
  <head>
  
    <title>Happy Birthday A!</title>
    {% load static %} 
    <meta name="description" content="Happy Birthday Alexis!">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'small.css' %}" media="(max-width: 63px)">   <!--Concept of Media Query at Max 630 the small.css comes under play but before that it is matter of the style.css-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700|Lobster' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  {% load static %} 
    <div class="container">
    <div class="hero">
    <img src="{% static "img/hero-image.png" %}" alt="Your Friends Image">
   </div>
    <div class="intro">

<h1>Aman's Birthday Party!</h1>
<aside>
 <img src="{% static "img/download.png" %}" alt="Your Friends Image"  >
</aside>
<br>
<p>Aman birthday is coming up! We hope you intend to come to our magical party for a most lovely friend. Their will be a Partyyyyyyyyyy and cake and food and Rick and Morty.(in special appearance)!</p>

<p>You know when to go out, you know when to stay in. Come to Blue Diamond this Sunday, and party like its Berlin!</p>

</div>

<div class="contact">

<h2>Sunday, October 17th!</h2>
<aside>
<img src="{% static "img/einstein.png" %}" alt="doodle" class="einstein">
</aside>
<p>Starts promptly at <time>6:00 pm</time>

 

<p>Blue Diamond Restro!<br>
 1st Floor, Crystal Square<br>
Bistupur,Jamshedpur !!</p>

<p>Coming? Email <a href="mailto:yes@happybirthdaydude.lol?Subject=Yes biatch,i am coming">mailto:yes@happybirthdaydude.lol</a></p>

</div>

<section>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14712.879429684717!2d86.177876!3d22.7943159!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9324b912275ab3a0!2sThe%20Blue%20Diamond%20Restaurant!5e0!3m2!1sen!2sin!4v1634377769669!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>

</div>
  </body>
</html>
