/*
 * General Styles
*/

.contact
{
  padding: 20px;
  background-color: white;
}

body {
  
  background: url("/static/img/unnamed.png");
 
  font-family: 'Open Sans', arial, sans-serif;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

p {
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 28px;
}

strong {
  font-weight: bold;
}
p{
  margin: 10px auto;
}
ul li {
  list-style: decimal inside;
}
.intro
{
  background: white;
  padding: 40px;
  margin: 0px auto;
 
}
/*
 * Heading Styles
*/


h1, h2 {
  font-family: 'Lobster', cursive;
  color: #e22f8f;
  text-align: center;
  margin-bottom: 32px;
}

h1 {

  font-size: 30px;
}

h2 {
  font-size: 32px;
}
.einstein
{
  width: 50%;
}

/*
 * Hero Styles
*/
.hero img{
  width: 100%;
}

/*
 * Container Styles
*/
aside{
  text-align: center;
}
.container {
  width: 600px;
  margin: 10px auto;
  line-height: 0;
}

iframe{
  line-height: 0;
}

